/* A-Z list section */
#az {
	list-style-type: none;
}

#az li {
	display: inline;
	font-weight: bold;
	color: black;
}

#az li a {
	color: red;
	font-weight: normal;
}

#az li a:hover {
	color: black;
}
/* End A-Z list section */

/* Player table section */
	/* Add a rule to shade every other row in the table? */
table td {
	background-color: #ccc;
}
table td a {
	color: red;
}

table td a:hover {
	color: black;
}